@charset "utf-8";
/* 
      CORES
 =============
 #590219 [red]
 #39011E [vinho]
 #1A353E [azulG]
 #D9AC84 [bege]
 #D9AC84 [laranja]     
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
    
}

body, html {
    background-color: #262727;
    color: rgb(34, 31, 31);
    height: 100vh;
    width: 100vw;
    background-image: url(img/pexels-cottonbro-studio-4488649.jpg);
    background-position: center;
    background-size: cover ;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(250, 252, 255, 0.466);
    width: 300px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}
section#login > div#image {
    background: #39011E url(img/pexels-cottonbro-studio-4488641.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left bottom;
    display: block;

}
section#login > div#image > img {
    
    width: 200px;
    padding: -200px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);   
}
section#login > div#formul {
    padding: 10px;
    display: block;
}
div#formul > h1 {
    text-align: center;
}
#login p {
    padding: 10px;
    text-align: center;
}
div.campo {
    margin: 0px 0px 10px;
}
div.campo i {
    width: 30px;
    padding: 5px;

}
div.campo > input {
    height: 100%;
    border: 0px;
    background-color: #26272700;
    transform: translateY(-5px);
    font-size: 1em;
    width: 200px;
    height: 100%;
    border-radius: 5px;
    padding: 4px;
    
    text-align: center;
    outline: none;

}
form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #F3D83C;
    margin: 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    
}
form > input[type=submit]:hover {
    background-color: #f3d83c93

}
div
form a.but {
    display: block;
    font-size: 1em;
    background-color: #b1515d5e;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding: 10px 0px 14px;
    
}
form a.but i {
    
    transform: translate(40px, 4px)
}

form div.campo {
    background-color: #ffffff62;
    display: block;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    width: 100%;

}
form a.but:hover {
    background-color: #b1515cb2;
}